@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap");

$font-family: "Public Sans", sans-serif;

// colors

$soft-cyan: hsl(174, 77%, 80%); // (Full Slider Bar)
$strong-cyan: hsl(174, 86%, 45%); // (Slider Backround)
$light-grayish-red: hsl(14, 92%, 95%); // (Discount Background)
$light-red: hsl(15, 100%, 70%); // (Discount Text)
$pale-blue: hsl(226, 100%, 87%); // (CTA Text)

$white: hsl(0, 0%, 100%); //(Pricing Component Background)
$very-pale-blue: hsl(230, 100%, 99%); //(Pricing Component Background)
$light-grayish-blue1: hsl(224, 65%, 95%); //(Empty Slider Bar):
$light-grayish-blue2: hsl(223, 50%, 87%); //(Toggle Background):
$grayish-blue: hsl(225, 20%, 60%); //(Text)
$dark-desat-blue: hsl(227, 35%, 25%); // (Text & CTA Background)

$dark-blue: hsl(233, 26%, 24%);
$lime-green: hsl(136, 65%, 51%);
$bright-cyan: hsl(192, 70%, 51%);

//Neutral
$grayish-blue: hsl(233, 8%, 62%);
$light-grayish-blue: hsl(220, 16%, 96%);
$very-light-gray: hsl(0, 0%, 98%);

$cb_border-color: #ccc;

$breakpoints-up: (
	"md": "750px",
	"ld": "1024px",
	"xd": "1376px",
);

$breakpoints-down: (
	"md": "750px",
	"ld": "1024px",
	"xd": "1376px",
);
// Mixins
@mixin breakpoint-up($size) {
	@media screen and (min-width: map-get($breakpoints-up, $size)) {
		@content;
	}
}
@mixin breakpoint-down($size) {
	@media screen and (max-width: map-get($breakpoints-down, $size)) {
		@content;
	}
}

@function calculateRem($size) {
	$remSize: $size / 16px;
	@return #{$remSize}rem;
}

// 640px, 1024px, 1400px
$breakpoints-up: (
	/* 	"medium": "40em",
	"large": "64em",
	"xlarge": "87.5em", */
	"small": "400px",
	"medium": "640px",
	"large": "1024px",
	"xlarge": "1400px"
);

// 639px, 1023px, 1399px
$breakpoints-down: (
	/* 	"small": "39.9375em",
	"medium": "63.9375em",
	"large": "87.4375em", */
	"small": "639px",
	"medium": "1023px",
	"large": "1399px"
);

@mixin breakpoint-up($size) {
	@media (min-width: map-get($breakpoints-up, $size)) {
		@content;
	}
}

@mixin breakpoint-down($size) {
	@media (max-width: map-get($breakpoints-down, $size)) {
		@content;
	}
}

// Reset

*,
*:before,
*:after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%; // 1rem = 10px
}

body {
	font-size: 1.8rem;
	font-family: $font-family;
	color: $dark-blue;
	text-align: center;
	line-height: 1.6;
	min-height: 100vh;

	@include breakpoint-up(medium) {
		text-align: initial;
	}
}

.overlay {
	overflow: hidden;
	&::after {
		content: ""; // ::before and ::after both require content
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: linear-gradient(180deg,$dark-blue, $white);
		opacity: .7;
	}
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
	color: #333;
}

h1,
h2,h3, h4 {
	font-weight: 400;
	line-height: 1.2;
	margin: 10px 0;
}

h2 {
	font-size: 3.6rem;
}

p {
	margin: 10px 0;
}

section {
	padding: 5rem 0;
}

img {
	width: 100%;
}

main {
	/* 	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center; */
	min-height: 100vh;
}



.relative {
	position: relative;
}

.noscroll {
	overflow: hidden;
}


/// BEM mixins

/// Block Element
/// @param {String} $element - Element's name
@mixin element($element) {
	&__#{$element} {
		@content;
	}
}

/// Block Modifier
/// @param {String} $modifier - Modifier's name
@mixin modifier($modifier) {
	&--#{$modifier} {
		@content;
	}
}

// Visibility
.hide-for-mobile {
	@include breakpoint-down(small) {
		display: none !important;
	}
}

.hide-for-desktop {
	@include breakpoint-up(medium) {
		display: none !important;
	}
}

/* Utilities */
.container {
	max-width: 110rem;
	margin: 0 auto;
	/* 	overflow: auto; */
	padding: 0 2rem;

	/*
		position: relative;
	width: 100%;
	max-width: 570px;
	margin: 0 auto;
	padding: 0 2.4rem;
	*/
}

/* Text colors */
.text-primary {
	color: $dark-desat-blue;
}

/* .text-secondary {
	color: $secondary-color;
}

.text-dark {
	color: $dark-color;
}

.text-light {
	color: $light-color;
} */

/* Text sizes */
.lead {
	font-size: 20px;
}

.sm {
	font-size: 1rem;
}

.lead {
	font-size: 2rem;
}

.lg {
	font-size: 3rem;
}

.xl {
	font-size: 4rem;
}

.text-center {
	text-align: center;
}

/* Alert */
/* .alert {
	background-color: $light-color;
	padding: 10px 20px;
	font-weight: bold;
	margin: 15px 0;

	i {
		margin-right: 10px;
	}

	&-success {
		background-color: $success-color;
		color: #fff;
	}
	&-error {
		background-color: $error-color;
		color: #fff;
	}
} */

.flex {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;

	&-ai-c {
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
	}

	&-jc-sb {
		justify-content: space-between;
	}
}

.grid {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 20px;
	justify-content: center;
	align-items: center;
	height: 100%;

	&-3 {
		grid-template-columns: repeat(3, 1fr);
	}
}

/* Margin */
.my {
	&-1 {
		margin: 1rem 0;
	}
	&-2 {
		margin: 1.5rem 0;
	}
	&-3 {
		margin: 2rem 0;
	}
	&-4 {
		margin: 3rem 0;
	}
	&-5 {
		margin: 4rem 0;
	}
}

.m {
	&-1 {
		margin: 1rem;
	}
	&-2 {
		margin: 1.5rem;
	}
	&-3 {
		margin: 2rem;
	}
	&-4 {
		margin: 3rem;
	}
	&-5 {
		margin: 4rem;
	}
}

/* Padding */
.py {
	&-1 {
		padding: 1rem 0;
	}
	&-2 {
		padding: 1.5rem 0;
	}
	&-3 {
		padding: 2rem 0;
	}
	&-4 {
		padding: 3rem 0;
	}
	&-5 {
		padding: 4rem 0;
	}
}

.p {
	&-1 {
		padding: 1rem;
	}
	&-2 {
		padding: 1.5rem;
	}
	&-3 {
		padding: 2rem;
	}
	&-4 {
		padding: 3rem;
	}
	&-5 {
		padding: 4rem;
	}
}
