* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

/* h1 {
	line-height: 3.5rem;
} */

// Flexbox display
@mixin flexbox {
	display: flex;
}

.intro {
	padding: 1rem 0 3rem 0;

	@include breakpoint-up(medium) {
		padding: 5rem 0;
	}

	.container {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100%;
		position: relative;
		flex-direction: column-reverse;

		@include breakpoint-up(medium) {
			flex-direction: row;
		}
	}
	&__headline {
		font-weight: 700;
		font-size: 3rem;

		@include breakpoint-up(medium) {
			font-size: 5rem;
		}
	}

	p {
		margin: 2rem 0 3rem;
	}

	&:before {
		content: '';
		width: 100%;
		min-height: 74rem;
		background: url('../images/bg-intro-mobile.svg') no-repeat;
		position: absolute;
		z-index: -10;
		right: 0;

		@include breakpoint-up(small) {
			background: url('../images/bg-intro-desktop.svg') no-repeat;
			right: -50%;
			top: -26rem;
		}
	}
}

.info {
	background-color: $light-grayish-blue;

	&__features {
		display: grid;
		grid-template-columns: repeat( auto-fit, minmax(250px, 1fr));
		margin-top: 5rem;
		grid-gap: 2rem;
		gap: 2rem;
	}

	p {
		margin: 2rem 0 3rem;
	}
}